@model TechJobsPersistent.ViewModels.AddJobViewModel

<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label>Job Name</label>
        <input class="form-control" />
        <span></span>
    </div>

    <div class="form-group">
        <label asp-for="EmployerId">Employer</label>
        <select asp-for="EmployerId" asp-items="Model.Employers"></select>
    </div>

    <div class="form-group">

        @foreach (var skill in Model.Skills)
        {
<label>@skill.Text</label>
                <input type="checkbox" name="selectedSkills" value="@skill.Value" />
                                <br />}



        <a asp-controller="Employer" asp-action="Add">Don't see the employer you are looking for? Add one here!</a>

        <br />

        <a asp-controller="Skill" asp-action="Add">Add New Skill</a>


    </div>

    <input type="submit" value="Add Job" />

</form>
